# **Take Home Exercise** (Technically Challenging)
## ``Ultraman & Monster Dataset``

### A. Get data (scrape) from this site: http://www.scifijapan.com/articles/2015/10/04/bandai-ultraman-ultra-500-figure-list/

### B. Create DataFrame with columns: ``Ultraman Name``

https://github.com/bgt90/JCDS-1102-BSD-Visualization

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [20]:
# ambil data dari website

web_ultraman = requests.get('http://www.scifijapan.com/articles/2015/10/04/bandai-ultraman-ultra-500-figure-list/')
web_ultraman

In [22]:
# parsing data 

data_ultraman = BeautifulSoup(web_ultraman.content, 'html.parser')
# data_ultraman

In [23]:
# mengambil body html pada website
text_ultraman = data_ultraman.body.text

# mengubah dari string menjadi list, dipisahkan dengan koma
text_ultraman = text_ultraman.split()
# text_ultraman

In [77]:
# mencari nama nama ultraman

kosong = []

for i in range(len(text_ultraman)):
    if text_ultraman[i] == 'Productions':
        kosong.append(text_ultraman[(i+1):(i+7)])

# kosong

In [78]:
# indexing yg termasuk nama-nama Ultraman saja
list_ultraman = kosong[1:35]
list_ultraman

[['01', 'Ultraman', '０１', 'ウルトラマン', 'Release', 'Date:'],
 ['02', 'Ultra', 'Seven', '０２', 'ウルトラセブン', 'Release'],
 ['03', 'Zoffy', '０３', 'ゾフィー', 'Release', 'Date:'],
 ['04', 'Ultraman', 'Jack', '０４', 'ウルトラマンジャック', 'Release'],
 ['05', 'Ultraman', 'Ace', '０５', 'ウルトラマンエース', 'Release'],
 ['06', 'Ultraman', 'Taro', '０６', 'ウルトラマンタロウ', 'Release'],
 ['07', 'Ultraman', 'Leo', '０７', 'ウルトラマンレオ', 'Release'],
 ['08', 'Ultraman', 'Tiga', '(Multi-Type)', '０８', 'ウルトラマンティガ（マルチタイプ）'],
 ['09', 'Ultraman', 'Gaia', '(V2)', '０９', 'ウルトラマンガイア（Ｖ２）'],
 ['10', 'Ultraman', 'Agul', '(V2)', '１０', 'ウルトラマンアグル（Ｖ２）'],
 ['11', 'Ultraman', 'Ginga', '１１', 'ウルトラマンギンガ', 'Release'],
 ['12', 'Jean-Nine', '１２', 'ジャンナイン', 'Release', 'Date:'],
 ['13', 'Astra', '１３', 'アストラ', 'Release', 'Date:'],
 ['14', 'Ultraman', 'Dyna', '(Flash', 'Type)', '１４'],
 ['15', 'Ultraman', '80', '１５', 'ウルトラマン80', 'Release'],
 ['16', 'Ultraman', 'Cosmos', '(Luna', 'Mode)', '１６'],
 ['17', 'Ultraman', 'Nexus', '(Anphans)', '１７', 'ウルトラマンネクサス'],
 ['18', 'Ultraman', 'Max', '１８', 'ウルトラマンマックス', 'Release'],
 ['19', 'Ultraman', 'Mebius', '１９', 'ウルトラマンメビウス', 'Release'],
 ['20', 'Ultraman', 'Hikari', '２０', 'ウルトラマンヒカリ', 'Release'],
 ['21', 'Ultraman', 'Zero', '２１', 'ウルトラマンゼロ', 'Release'],
 ['22', 'Ultraman', 'Nice', '２２', 'ウルトラマンナイス', 'Release'],
 ['23', 'Father', 'of', 'Ultra', '２３', 'ウルトラの父'],
 ['24', 'Ultraman', 'King', '２４', 'ウルトラマンキング', 'Release'],
 ['25', 'Ultraman', 'Saga', '２５', 'ウルトラマンサーガ', 'Release'],
 ['26', 'Tiga', 'Dark', '(Spark', 'Doll)', '２６'],
 ['27', 'Ultraman', 'Dark', '(Spark', 'Doll)', '２７'],
 ['28', 'Ultraman', 'Victory', '２８', 'ウルトラマンビクトリー', 'Release'],
 ['29', 'Ultraman', 'Ginga', 'Strium', '２９', 'ウルトラマンギンガストリウム'],
 ['30', 'Ultraman', 'Gingavictory', '３０', 'ウルトラマンギンガビクトリー', 'Release'],
 ['31', 'Shining', 'Ultraman', 'Zero', '３１', 'シャイニングウルトラマンゼロ'],
 ['32', 'Ultraman', 'Nexus', 'Junis', '３２', 'ウルトラマンネクサス'],
 ['33', 'Ultraman', 'Cosmos', 'Eclipse', 'Mode', '３３'],
 ['34', 'Ultraman', 'Victory', 'Knight', '３４', 'ウルトラマンビクトリーナイト']]

In [104]:
# for i in list_ultraman:
#     for j in i:
#         if '0' in j or '1' in j or '2' in j or '3' in j or '4' in j or '5' in j or '6' in j or '7' in j or '8' in j or '9' in j:
#             print('T', end=' ')
#         elif '０' in j or '１' in j or '２' in j or '３' in j or '４' in j or '５' in j or '６' in j or '７' in j or '８' in j or '９' in j:
#             print('T', end=' ')
#         else:
#             print('_', end=' ')
#     print()

In [122]:
# menghapus angka dan huruf jepang, agar tinggal nama ultraman-nya saja

x = []

for i in list_ultraman:
    y = []
    for j in i:
        if (j.isnumeric() is False) and (j!='Release') and (j!='Date:') and ('ウ' not in j) and ('ア' not in j) and ('ゾ' not in j) and ('ジ' not in j):
            y.append(j)
    x.append(y)
x

[['Ultraman'],
 ['Ultra', 'Seven'],
 ['Zoffy'],
 ['Ultraman', 'Jack'],
 ['Ultraman', 'Ace'],
 ['Ultraman', 'Taro'],
 ['Ultraman', 'Leo'],
 ['Ultraman', 'Tiga', '(Multi-Type)'],
 ['Ultraman', 'Gaia', '(V2)'],
 ['Ultraman', 'Agul', '(V2)'],
 ['Ultraman', 'Ginga'],
 ['Jean-Nine'],
 ['Astra'],
 ['Ultraman', 'Dyna', '(Flash', 'Type)'],
 ['Ultraman'],
 ['Ultraman', 'Cosmos', '(Luna', 'Mode)'],
 ['Ultraman', 'Nexus', '(Anphans)'],
 ['Ultraman', 'Max'],
 ['Ultraman', 'Mebius'],
 ['Ultraman', 'Hikari'],
 ['Ultraman', 'Zero'],
 ['Ultraman', 'Nice'],
 ['Father', 'of', 'Ultra'],
 ['Ultraman', 'King'],
 ['Ultraman', 'Saga'],
 ['Tiga', 'Dark', '(Spark', 'Doll)'],
 ['Ultraman', 'Dark', '(Spark', 'Doll)'],
 ['Ultraman', 'Victory'],
 ['Ultraman', 'Ginga', 'Strium'],
 ['Ultraman', 'Gingavictory'],
 ['Shining', 'Ultraman', 'Zero'],
 ['Ultraman', 'Nexus', 'Junis'],
 ['Ultraman', 'Cosmos', 'Eclipse', 'Mode'],
 ['Ultraman', 'Victory', 'Knight']]

In [164]:
# menggabungkan list jadi 1 string

ultraman_name = []
for i in x:
    ultraman_name.append(' '.join(i))

ultraman_name

['Ultraman',
 'Ultra Seven',
 'Zoffy',
 'Ultraman Jack',
 'Ultraman Ace',
 'Ultraman Taro',
 'Ultraman Leo',
 'Ultraman Tiga (Multi-Type)',
 'Ultraman Gaia (V2)',
 'Ultraman Agul (V2)',
 'Ultraman Ginga',
 'Jean-Nine',
 'Astra',
 'Ultraman Dyna (Flash Type)',
 'Ultraman',
 'Ultraman Cosmos (Luna Mode)',
 'Ultraman Nexus (Anphans)',
 'Ultraman Max',
 'Ultraman Mebius',
 'Ultraman Hikari',
 'Ultraman Zero',
 'Ultraman Nice',
 'Father of Ultra',
 'Ultraman King',
 'Ultraman Saga',
 'Tiga Dark (Spark Doll)',
 'Ultraman Dark (Spark Doll)',
 'Ultraman Victory',
 'Ultraman Ginga Strium',
 'Ultraman Gingavictory',
 'Shining Ultraman Zero',
 'Ultraman Nexus Junis',
 'Ultraman Cosmos Eclipse Mode',
 'Ultraman Victory Knight']

In [158]:
number = []

for i in list_ultraman:
    z=[]
    for j in i:
        if j.isnumeric() == True:
            z.append(j)
    number.append(z)

number

number = [i[0] for i in number]
number

['01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34']

In [167]:
# membuat dataframe dari list
df_ultraman = pd.DataFrame(number)

df_ultraman['Ultraman Name'] = ultraman_name

# mengubah nama kolom
df_ultraman = df_ultraman.rename(columns={0:'No'})

df_ultraman

    No                 Ultraman Name
0   01                      Ultraman
1   02                   Ultra Seven
2   03                         Zoffy
3   04                 Ultraman Jack
4   05                  Ultraman Ace
5   06                 Ultraman Taro
6   07                  Ultraman Leo
7   08    Ultraman Tiga (Multi-Type)
8   09            Ultraman Gaia (V2)
9   10            Ultraman Agul (V2)
10  11                Ultraman Ginga
11  12                     Jean-Nine
12  13                         Astra
13  14    Ultraman Dyna (Flash Type)
14  15                      Ultraman
15  16   Ultraman Cosmos (Luna Mode)
16  17      Ultraman Nexus (Anphans)
17  18                  Ultraman Max
18  19               Ultraman Mebius
19  20               Ultraman Hikari
20  21                 Ultraman Zero
21  22                 Ultraman Nice
22  23               Father of Ultra
23  24                 Ultraman King
24  25                 Ultraman Saga
25  26        Tiga Dark (Spark Doll)
26  27    Ultraman Dark (Spark Doll)
27  28              Ultraman Victory
28  29         Ultraman Ginga Strium
29  30         Ultraman Gingavictory
30  31         Shining Ultraman Zero
31  32          Ultraman Nexus Junis
32  33  Ultraman Cosmos Eclipse Mode
33  34       Ultraman Victory Knight