___

<a href='https://www.purwadhika.com/'> <img style="height: 200px" src='https://www.dicoding.com/images/original/event/201705181703334cc2c00c0d639e4593a12a55aa4c8103.png' /></a>
___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.
____
**Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.**

In [1]:
import numpy as np
import pandas as pd

In [2]:
ecom = pd.read_csv('Ecommerce Purchases.csv')

**Check the head of the DataFrame.**

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [3]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

**1. How many rows and columns are there?**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 664.1+ KB

In [4]:
ecom.info()
# berarti ada 14 columns dan 10000 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

**2. What is the average Purchase Price?**

50.347302

In [5]:
ecom['Purchase Price'].mean()

50.34730200000025

**3. What were the highest and lowest purchase prices?**

In [6]:
#highest

In [7]:
ecom['Purchase Price'].max()

99.99

In [8]:
#lowest

In [9]:
ecom['Purchase Price'].min()

0.0

**4. How many people have English 'en' as their Language of choice on the website?**

1098

In [11]:
# count() mengelompokkan Language dan menghiting jumlahnya pada masing2 kolom
# indexing kolom 'IP Address' (berapa jumlah pengguna)
# indexing row 'en' (bahsa inggris)
ecom.groupby('Language').count()['IP Address']['en']

1098

In [37]:
ecom[ecom['Language']=='en'].shape[0]
# .shape akan menunjukkan tuple berisi (banyak row, banyak columns)
# [0] untuk indexing rownya saja

1098

In [34]:
ecom[ecom['Language']=='en'].count()['IP Address']
# ecom[ecom['Language']=='en'].count() menghitung jumlah value 'en' pada language
# indexing pada kolom apa saja yg ga ada NaN, misalnya ['IP Address']

1098

In [38]:
ecom['Language'].value_counts()['en']
# .value_counts() menghitung jumlah masing2 bahasa
# ['en'] untuk indexing khusus bahasa 'en

1098

**5. How many people have the job title of "Lawyer" ?**

30

In [46]:
# count() mengelompokkan Job dan menghiting jumlahnya pada masing2 kolom
# indexing kolom 'IP Address' (berapa jumlah pengguna)
# indexing row 'Lawyer' 
ecom.groupby('Job').count()['IP Address']['Lawyer']

30

In [43]:
ecom[ecom['Job']=='Lawyer'].count()['IP Address']
# [ecom['Job']=='Lawyer'] untuk indexing conditional
# count() menghitung value yg sesuai condition pada semua kolom
# indexing kolom mana saja, misalnya ['IP Address]

30

In [18]:
# cara lain dengan value_counts()
ecom['Job'].value_counts()['Lawyer']

30

**6. How many people made the purchase during the AM and how many people made the purchase during PM ?**

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) )**

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [19]:
# menghitung jumlah pada value berbeda dalam kolom 'AM or PM'
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

**7. What are the 5 most common Job Titles?**

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

In [20]:
# menghitung jumlah pada pekerjaan berbeda 
# indexing top 5 dengan head()
ecom['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: Job, dtype: int64

**8. Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?**

513    75.1
Name: Purchase Price, dtype: float64

In [21]:
# indexing dgn condition ['Lot']=="90 WT"
# indexing kolom yg mau dilihat yaitu ['Purchase Price']
ecom[ecom['Lot']=="90 WT"]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

**9. What is the email of the person with the following Credit Card Number: 4926535242672853**

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [22]:
# indexing dgn condition ['Credit Card']==4926535242672853]
# indexing kolom yg ingin ditampilkan yaitu ['Email']
ecom[ecom['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [23]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

**10. How many people have American Express as their Credit Card Provider *and* made a purchase above $95?**

39

In [24]:
# indexing dgn condition ['CC Provider']=='American Express'
# indexing dgn condition ['Purchase Price']>95
# count() menghitung jumlah value pada semua kolom
# indexing kolom yg mau dilihat yaitu ['IP Address'], atau kolom apa aja asal ga ada NaN, sama aja kok
ecom[ecom['CC Provider']=='American Express'][ecom['Purchase Price']>95].count()['IP Address']

39

In [47]:
# cara penulisannya dgn '&', masing2 condition jgn lupa dikurung ()
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].count()['IP Address']

39

In [50]:
((ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)).sum()
# kedua condition dikurung () akan menampilkan boolean
# .sum() untuk menjumlahkan boolean True

39

**Bonus: How many people have a credit card that expires in 2025?**

1033

In [25]:
# indexing pada kolom ['CC Exp Date'] yg mengandung angka '25
# count() menghitung jumlah value pada semua kolom
# indexing kolom yg mau dilihat yaitu ['IP Address'], atau kolom apa aja asal ga ada NaN, sama aja kok
# kebetulan bulan ga ada 25
ecom[ecom['CC Exp Date'].str.contains('25')].count()['IP Address']

1033

In [55]:
len([i for i in ecom['CC Exp Date'] if i[-2:]=='25'])
# i for i in ecom['CC Exp Date'] untuk looping setiap value dalam kolom tsb
# condition jika 2 huruf terakhir adalah 25
# len untuk hitung panjang value dlm list

1033

**Bonus: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)**

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [26]:
ecom.groupby('Email').count().sort_values('IP Address', ascending=False).head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Job,IP Address,Language,Purchase Price
Email,,,,,,,,,,,,,
wjohnson@yahoo.com,2,2,2,2,2,2,2,2,2,2,2,2,2
jennifertaylor@gmail.com,2,2,2,2,2,2,2,2,2,2,2,2,2
rosskenneth@hotmail.com,2,2,2,2,2,2,2,2,2,2,2,2,2
heather81@gmail.com,2,2,2,2,2,2,2,2,2,2,2,2,2
leekathy@yahoo.com,2,2,2,2,2,2,2,2,2,2,2,2,2

In [27]:
ecom['Email'].head()

0                 pdunlap@yahoo.com
1                anthony41@reed.com
2    amymiller@morales-harrison.com
3       brent16@olson-robinson.info
4       christopherwright@gmail.com
Name: Email, dtype: object

In [28]:
emailDom = ecom['Email'].str.split('@',n=1, expand=True)
emailDom

                      0                     1
0               pdunlap             yahoo.com
1             anthony41              reed.com
2             amymiller  morales-harrison.com
3               brent16   olson-robinson.info
4     christopherwright             gmail.com
...                 ...                   ...
9995             iscott       wade-garner.com
9996             mary85           hotmail.com
9997            tyler16             gmail.com
9998     elizabethmoore              reid.net
9999         rachelford            vaughn.com

[10000 rows x 2 columns]

In [29]:
emailDom = emailDom.rename(columns={0:'Nama',1:'Email'})
emailDom

                   Nama                 Email
0               pdunlap             yahoo.com
1             anthony41              reed.com
2             amymiller  morales-harrison.com
3               brent16   olson-robinson.info
4     christopherwright             gmail.com
...                 ...                   ...
9995             iscott       wade-garner.com
9996             mary85           hotmail.com
9997            tyler16             gmail.com
9998     elizabethmoore              reid.net
9999         rachelford            vaughn.com

[10000 rows x 2 columns]

In [30]:
emailDom['Email'].value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [59]:
ecom['Email'].str.split('@').str[1].value_counts().head()
# str.split('@') memisahkan kata, outputnya berupa tuple
# str[1] untuk indexing kata ke 2

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

# Great Job!