In [92]:
import pandas as pd
import numpy as np
import seaborn as sns

In [110]:
mpg = sns.load_dataset('mpg')

**Cek 5 data teratas pada mpg**

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [111]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

**Cek info() dari mpg**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      392 non-null float64
weight          398 non-null int64
acceleration    398 non-null float64
model_year      398 non-null int64
origin          398 non-null object
name            398 non-null object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [112]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

**Cek statistik mpg menggunakan describe(), baik data angka maupun string**

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [113]:
mpg.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6

In [114]:
mpg[['origin','name']].describe()

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6

In [98]:
mpg.describe(include='object')
# hanya describe kolom yg punya dtype object

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6

**Cek apakah ada missing value pada mpg**

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
Name: Null Value Count, dtype: int64

In [117]:
mpg.isnull().sum()
# mpg.isnull() berupa boolean
# sum() menjumlahkan True

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

**Cari rata-rata horsepower berdasarkan asal mobil. Gunakan rata-rata tersebut untuk mengisi missing value pada mpg**

origin
europe     80.558824
japan      79.835443
usa       119.048980
Name: horsepower, dtype: float64

In [118]:
# menghitung rata2 nilai di kolom horsepower, berdasarkan origin
mpg.groupby('origin')['horsepower'].mean()

origin
europe     80.558824
japan      79.835443
usa       119.048980
Name: horsepower, dtype: float64

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl

In [119]:
# mencari index dari missing data dari kolom 'horsepower'
indexOfNan = mpg.loc[mpg['horsepower'].isna()].index
indexOfNan

Int64Index([32, 126, 330, 336, 354, 374], dtype='int64')

In [120]:
# menampilkan dataframe dgn indexing yg mengandung missing data pada kolom 'horsepower'
mpg.loc[mpg['horsepower'].isna()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl

In [103]:
# menjadikan origin sebagai index
mpg = mpg.set_index('origin')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,name
origin,,,,,,,,
usa,18.0,8,307.0,130.0,3504,12.0,70,chevrolet chevelle malibu
usa,15.0,8,350.0,165.0,3693,11.5,70,buick skylark 320
usa,18.0,8,318.0,150.0,3436,11.0,70,plymouth satellite
usa,16.0,8,304.0,150.0,3433,12.0,70,amc rebel sst
usa,17.0,8,302.0,140.0,3449,10.5,70,ford torino

In [104]:
mpg['horsepower'] = mpg['horsepower'].fillna(round(mpg.groupby('origin')['horsepower'].mean()))
# missing data pada ['horsepower'] diisi dgn nilai rata2 dari masing2 index, yaitu origin (yg telah menjadi index setelah diset_index)

mpg.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,name
origin,,,,,,,,
usa,18.0,8,307.0,130.0,3504,12.0,70,chevrolet chevelle malibu
usa,15.0,8,350.0,165.0,3693,11.5,70,buick skylark 320
usa,18.0,8,318.0,150.0,3436,11.0,70,plymouth satellite

In [105]:
# reset_index() mengembalikan index seperti semula
# 'origin' yg tadinya diubah menjadi index, sekarang balik lagi menjadi kolom, tapi letaknya jadi di paling kiri
mpg = mpg.reset_index()
mpg.head()

,origin,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,name
0,usa,18.0,8,307.0,130.0,3504,12.0,70,chevrolet chevelle malibu
1,usa,15.0,8,350.0,165.0,3693,11.5,70,buick skylark 320
2,usa,18.0,8,318.0,150.0,3436,11.0,70,plymouth satellite
3,usa,16.0,8,304.0,150.0,3433,12.0,70,amc rebel sst
4,usa,17.0,8,302.0,140.0,3449,10.5,70,ford torino

In [106]:
# menampilkan dataframe mpg dgn indexing dari indexOfNan (yg sebelumnya bernilai NaN)
# : adalah indexing semua kolom, bisa juga ga ditulis
mpg.loc[indexOfNan,:]

,origin,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,name
32,usa,25.0,4,98.0,119.048980,2046,19.0,71,ford pinto
126,usa,21.0,6,200.0,119.048980,2875,17.0,74,ford maverick
330,europe,40.9,4,85.0,80.558824,1835,17.3,80,renault lecar deluxe
336,usa,23.6,4,140.0,119.048980,2905,14.3,80,ford mustang cobra
354,europe,34.5,4,100.0,80.558824,2320,15.8,81,renault 18i
374,usa,23.0,4,151.0,119.048980,3035,20.5,82,amc concord dl

In [ ]:
# cara transform
mpg['horsepower'].fillna(value = mpg.groupby('origin')['horsepower'].transform('mean'), inplace=True)

# mpg.groupby('origin')['horsepower'].transform('mean') adalah
# mengganti semua value dlm ['horsepower'] berdasarkan origin dgn rata2 horsepower masing2 origin
# transform() diisi dgn parameter berupa fungsi/method
# fillna() jadi mengisi yg missing data aja, value selain NaN ga ikut keganti
# inplace=True mengganti secara permanen

In [ ]:
# cara dgn apply lambda
mpg['horsepower'] = mpg.groupby('origin')['horsepower'].apply(lambda x: x.fillna(x.mean()))

# apply() diisi dgn parameter dgn sebuah fungsi
# outptnya berupa series
# dimasukkan ke series awal mpg['horsepower']

In [ ]:
# cara manual
mpg.loc[(mpg['horsepower'].isna()) & (mpg['origin']=='europe'),'horsepower'] = round(mpg.groupby('origin').mean().loc['europe']['horsepower'])

# kalo mau ngubah nilai harus pake .loc()
# kalo indexing biasa otomatis membuat copy di background

** Buat kolom baru bernama horse_cat. isi dengan _lower_ kalau horsepower<=105 dan upper kalau horsepower di atas 105 **

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horsecat
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,upper
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,upper
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,upper
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,upper
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,upper
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,lower
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,lower
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,lower
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,lower
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,lower

In [123]:
# list comprehension
# membuat list berisi upper jika value pada kolom 'horsepower'>105, dan lower jika sebaliknya
horsecat = ['upper' if i>105 else 'lower' for i in mpg['horsepower']]

# membuat kolom barus bernama 'horsecat', mengambil values dari list horsecat di atas
mpg['horsecat'] = horsecat

mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horsecat
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,upper
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,upper
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,upper
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,upper
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,upper
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,lower
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,lower
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,lower
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,lower
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,lower

In [124]:
# cara apply lambda
mpg['horsecat'] = mpg['horsepower'].apply(lambda x: 'lower' if x <=105 else 'upper')

mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horsecat
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,upper
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,upper
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,upper
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,upper
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,upper
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,lower
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,lower
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,lower
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,lower
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,lower

**Berapa jumlah upper horsepower dan lower horsepower berdasarkan asal negara mobil?**

origin  horsecat
europe  lower        60
        upper        10
japan   lower        73
        upper         6
usa     lower       125
        upper       124
Name: mpg, dtype: int64

In [109]:
# groupby() mengelompokkan berdasarkan ['origin','horsecat'] dan dihitung jumlahnya dgn count()
# ['mpg'] indexing kolom mana saja, karena isinya sama
mpg.groupby(['origin','horsecat']).count()['mpg']

origin  horsecat
europe  lower        60
        upper        10
japan   lower        73
        upper         6
usa     lower       125
        upper       124
Name: mpg, dtype: int64